*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
    background-color: rgb(181, 184, 184);
    padding: 20px;
}

header,footer{
    background-color: gray;
    border-radius: 10px;
}

main{
    display: grid;
    gap: 30px;
    margin-top: 30px;
}

.content{
    background-color: rgb(43, 41, 41);
    color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}

footer{
    margin-top: 30px;
}

@media only screen and(min-width:768px){
    main{
        grid-template-columns: 1fr, 1fr;
        /* background-color: rgb(107, 40, 107); */
    }
    .content{
        font-size: 50px;
        padding: 30px;
    }
    header,footer{
        font-size: 15px;
        padding: 30px;
    }
    
}
