$bg_color:whitesmoke;
$btn-bgc:rgb(192, 152, 192);
$btn-border:2px solid pink;
$font-size:20px;

.card{
    height: 500px;
    width: 300px;
    box-shadow: 10px 10px 10px thistle;
    justify-content: center;
    margin: auto;
    background-color: $bg_color;
}

.card-image{
    height: 60%;
    width: 90%;
    border-radius: 8px;
    transform: translateX(15px);
    // transform: translateY(20px);
}

.card-title{
    font-size: $font-size;
}

@mixin btn{
    height: 40px;
    width: 150px;
    background-color: $btn-bgc;
    border: $btn-border;
    transform: translateX(60px);
    margin-top: 20px;
}

.btn{
    @include btn()
}
