*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 490px;
}

header{
    height: 100px;
    text-align: center;
    background-color: plum;
}

.sidebar {
    background-color:palevioletred;
    width: 250px;
    padding: 20px;
}

.sidebar a{
    text-decoration: none;
    color: steelblue;
    font-weight: 600;
}

.main-content {
    transform: translateX(30px);
    transform: translateY(50px);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }
    header{
        background-color: violet;
    }
    .sidebar {
        background-color: thistle;
        width: 100%; 
        }
    .sidebar a{
        color: purple;
        text-decoration: none;
        font-weight: 600;

    }
   
}