*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 50px;
    background-color: thistle;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

.navbar li{
    margin-top: 10px;
}

.navbar  a{
    color: black;
    text-decoration: none;
}