.navbar{
    height: 40px;
    background-color: brown;
    justify-content: space-around;
    align-items: center; 
}
.list ul li{
    list-style-type: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
ul{
    display: flex;
    column-gap: 40px;
}
ul a{
    text-decoration: none;
}