body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
  color: #fff;
  padding-top: 70px;
}

.hero {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("/IMAGES/bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.w-100{
    height: 700px;
    width: 100%;
}

.w-100 img{
    height: 100%;
    width: 100%;
}

.carousel-caption{
    color:#ffb347;
    font-weight: 900;
}

.navbar {
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.5);
}

.hero {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  opacity: 0.8;
}

.portfolio-section {
  padding: 80px 0;
}

.carousel img {
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
}

.card{
    background-color: rgb(72, 119, 113);
}

.card img{
    height: 100%;
    width: 90%;
    margin: auto;
    transform: translateY(20px);
}

.card-title, .card-text{
    margin-top: 10px;
    color: whitesmoke;
}


.btn-custom {
  background: linear-gradient(135deg, #2fb87fa6, #1d503691);
  border: none;
  color:whitesmoke;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.3s;
}

.btn-custom:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.modal-content {
  background:darkslategray;
  border-radius: 20px;
}

.form-control {
  border: none;
  color: whitesmoke;
}

.form-control:focus {
  box-shadow: none;
  background:  linear-gradient(135deg, #ff7a18, #ffb347);
}

footer {
    background-color: #0f2027;
  text-align: center;
  padding: 30px 0;
  opacity: 0.7;
}
